USE [TEST]
GO
/****** Object:  User [admin]    Script Date: 27.02.2022 11:13:41 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [test]    Script Date: 27.02.2022 11:13:41 ******/
CREATE SCHEMA [test]
GO
/****** Object:  Table [dbo].[AuditDataItemPersistent]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditDataItemPersistent](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[OperationType] [nvarchar](100) NULL,
	[Description] [nvarchar](2048) NULL,
	[AuditedObject] [uniqueidentifier] NULL,
	[OldObject] [uniqueidentifier] NULL,
	[NewObject] [uniqueidentifier] NULL,
	[OldValue] [nvarchar](1024) NULL,
	[NewValue] [nvarchar](1024) NULL,
	[PropertyName] [nvarchar](100) NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
 CONSTRAINT [PK_AuditDataItemPersistent] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditedObjectWeakReference]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditedObjectWeakReference](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[GuidId] [uniqueidentifier] NULL,
	[IntId] [int] NULL,
	[DisplayName] [nvarchar](250) NULL,
 CONSTRAINT [PK_AuditedObjectWeakReference] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CargoChangeHistory]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargoChangeHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ChangeTime] [datetime] NULL,
	[DateSince] [datetime] NULL,
	[DateBy] [datetime] NULL,
	[namePlatform] [nvarchar](100) NULL,
	[Cargo] [float] NULL,
 CONSTRAINT [PK_CargoChangeHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModelDifference]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModelDifference](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[UserId] [nvarchar](100) NULL,
	[ContextId] [nvarchar](100) NULL,
	[Version] [int] NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
 CONSTRAINT [PK_ModelDifference] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModelDifferenceAspect]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModelDifferenceAspect](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Xml] [nvarchar](max) NULL,
	[Owner] [uniqueidentifier] NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
 CONSTRAINT [PK_ModelDifferenceAspect] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionPolicyActionPermissionObject]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionPolicyActionPermissionObject](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ActionId] [nvarchar](100) NULL,
	[Role] [uniqueidentifier] NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
 CONSTRAINT [PK_PermissionPolicyActionPermissionObject] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionPolicyMemberPermissionsObject]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionPolicyMemberPermissionsObject](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Members] [nvarchar](max) NULL,
	[ReadState] [int] NULL,
	[WriteState] [int] NULL,
	[Criteria] [nvarchar](max) NULL,
	[TypePermissionObject] [uniqueidentifier] NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
 CONSTRAINT [PK_PermissionPolicyMemberPermissionsObject] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionPolicyNavigationPermissionsObject]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionPolicyNavigationPermissionsObject](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ItemPath] [nvarchar](max) NULL,
	[NavigateState] [int] NULL,
	[Role] [uniqueidentifier] NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
 CONSTRAINT [PK_PermissionPolicyNavigationPermissionsObject] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionPolicyObjectPermissionsObject]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionPolicyObjectPermissionsObject](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Criteria] [nvarchar](max) NULL,
	[ReadState] [int] NULL,
	[WriteState] [int] NULL,
	[DeleteState] [int] NULL,
	[NavigateState] [int] NULL,
	[TypePermissionObject] [uniqueidentifier] NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
 CONSTRAINT [PK_PermissionPolicyObjectPermissionsObject] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionPolicyRole]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionPolicyRole](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsAdministrative] [bit] NULL,
	[CanEditModel] [bit] NULL,
	[PermissionPolicy] [int] NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
	[ObjectType] [int] NULL,
 CONSTRAINT [PK_PermissionPolicyRole] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionPolicyTypePermissionsObject]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionPolicyTypePermissionsObject](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Role] [uniqueidentifier] NULL,
	[TargetType] [nvarchar](max) NULL,
	[ReadState] [int] NULL,
	[WriteState] [int] NULL,
	[CreateState] [int] NULL,
	[DeleteState] [int] NULL,
	[NavigateState] [int] NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
 CONSTRAINT [PK_PermissionPolicyTypePermissionsObject] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionPolicyUser]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionPolicyUser](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[StoredPassword] [nvarchar](max) NULL,
	[ChangePasswordOnFirstLogon] [bit] NULL,
	[UserName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
	[ObjectType] [int] NULL,
 CONSTRAINT [PK_PermissionPolicyUser] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionPolicyUserLoginInfo]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionPolicyUserLoginInfo](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[LoginProviderName] [nvarchar](100) NULL,
	[ProviderUserKey] [nvarchar](100) NULL,
	[User] [uniqueidentifier] NULL,
	[OptimisticLockField] [int] NULL,
 CONSTRAINT [PK_PermissionPolicyUserLoginInfo] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionPolicyUserUsers_PermissionPolicyRoleRoles]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionPolicyUserUsers_PermissionPolicyRoleRoles](
	[Roles] [uniqueidentifier] NULL,
	[Users] [uniqueidentifier] NULL,
	[OID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[OptimisticLockField] [int] NULL,
 CONSTRAINT [PK_PermissionPolicyUserUsers_PermissionPolicyRoleRoles] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Picket]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Picket](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[IDplatform] [int] NULL,
	[Number] [int] NULL,
 CONSTRAINT [PK_Picket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platform]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platform](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[IDsklad] [int] NULL,
	[cargo] [float] NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Platform] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlatformChangeHistory]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatformChangeHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[namePlatform] [nvarchar](100) NULL,
	[nameSklad] [nvarchar](100) NULL,
	[DateSince] [datetime] NULL,
	[DateBy] [datetime] NULL,
 CONSTRAINT [PK_PlatformChangeHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sklad]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sklad](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sklad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XPObjectType]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XPObjectType](
	[OID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TypeName] [nvarchar](254) NULL,
	[AssemblyName] [nvarchar](254) NULL,
 CONSTRAINT [PK_XPObjectType] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XPWeakReference]    Script Date: 27.02.2022 11:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XPWeakReference](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[TargetType] [int] NULL,
	[TargetKey] [nvarchar](100) NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
	[ObjectType] [int] NULL,
 CONSTRAINT [PK_XPWeakReference] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AuditDataItemPersistent] ([Oid], [UserName], [ModifiedOn], [OperationType], [Description], [AuditedObject], [OldObject], [NewObject], [OldValue], [NewValue], [PropertyName], [OptimisticLockField], [GCRecord]) VALUES (N'9a967ac5-0332-45a4-9a1e-00113b0ac1d3', N'DESKTOP-GI23UKH\Александр', CAST(N'2022-02-27T10:31:57.370' AS DateTime), N'ObjectChanged', N'ObjectChanged; (Default language); Xml; Blob data; Blob data', N'0cbfbfb4-7252-4371-9160-0773eb0f3eae', NULL, NULL, N'Blob data', N'Blob data', N'Xml', 0, NULL)
INSERT [dbo].[AuditDataItemPersistent] ([Oid], [UserName], [ModifiedOn], [OperationType], [Description], [AuditedObject], [OldObject], [NewObject], [OldValue], [NewValue], [PropertyName], [OptimisticLockField], [GCRecord]) VALUES (N'6119cc9f-bdb8-4c2f-a9d2-00468abac425', N'DESKTOP-GI23UKH\Александр', CAST(N'2022-02-09T21:32:26.937' AS DateTime), N'ObjectChanged', N'ObjectChanged; (Default language); Xml; Blob data; Blob data', N'0cbfbfb4-7252-4371-9160-0773eb0f3eae', NULL, NULL, N'Blob data', N'Blob data', N'Xml', 0, NULL)
GO
INSERT [dbo].[AuditedObjectWeakReference] ([Oid], [GuidId], [IntId], [DisplayName]) VALUES (N'39455a8f-2b88-4c38-bfa7-031ed4d1a55f', NULL, 34, N'34')
INSERT [dbo].[AuditedObjectWeakReference] ([Oid], [GuidId], [IntId], [DisplayName]) VALUES (N'1c19b45c-3d7c-4a9e-94f1-06b242c3b2ca', NULL, 32, N'32')
INSERT [dbo].[AuditedObjectWeakReference] ([Oid], [GuidId], [IntId], [DisplayName]) VALUES (N'0cbfbfb4-7252-4371-9160-0773eb0f3eae', N'71d8ba43-1a1a-45d9-8612-2dc06c232f08', NULL, N'(Default language)')
GO
SET IDENTITY_INSERT [dbo].[CargoChangeHistory] ON 

INSERT [dbo].[CargoChangeHistory] ([ID], [ChangeTime], [DateSince], [DateBy], [namePlatform], [Cargo]) VALUES (25, NULL, CAST(N'2022-02-26T12:43:52.357' AS DateTime), NULL, N'Площадка 1', 53000)
INSERT [dbo].[CargoChangeHistory] ([ID], [ChangeTime], [DateSince], [DateBy], [namePlatform], [Cargo]) VALUES (26, NULL, CAST(N'2022-02-27T10:29:53.740' AS DateTime), NULL, N'Площадка 2', 5000)
INSERT [dbo].[CargoChangeHistory] ([ID], [ChangeTime], [DateSince], [DateBy], [namePlatform], [Cargo]) VALUES (27, NULL, CAST(N'2022-02-27T10:50:24.153' AS DateTime), NULL, N'Площадка 3', 8000)
SET IDENTITY_INSERT [dbo].[CargoChangeHistory] OFF
GO
INSERT [dbo].[ModelDifference] ([Oid], [UserId], [ContextId], [Version], [OptimisticLockField], [GCRecord]) VALUES (N'c4d34208-10bd-41d1-90f9-13ae486486da', N'66e18ddc-7b3c-4c20-887e-44e8b32ffc82', N'Win', 0, 1, NULL)
GO
INSERT [dbo].[PermissionPolicyMemberPermissionsObject] ([Oid], [Members], [ReadState], [WriteState], [Criteria], [TypePermissionObject], [OptimisticLockField], [GCRecord]) VALUES (N'43a5b153-714c-4660-8f8b-0600bcc6c960', N'ChangePasswordOnFirstLogon', NULL, 1, N'[Oid] = CurrentUserId()', N'da36a9c9-c835-436e-9018-c9056bfb8418', 0, NULL)
INSERT [dbo].[PermissionPolicyMemberPermissionsObject] ([Oid], [Members], [ReadState], [WriteState], [Criteria], [TypePermissionObject], [OptimisticLockField], [GCRecord]) VALUES (N'0b71ccca-2f93-4759-9579-59ea301d6a0b', N'StoredPassword', NULL, 1, N'[Oid] = CurrentUserId()', N'da36a9c9-c835-436e-9018-c9056bfb8418', 0, NULL)
GO
INSERT [dbo].[PermissionPolicyNavigationPermissionsObject] ([Oid], [ItemPath], [NavigateState], [Role], [OptimisticLockField], [GCRecord]) VALUES (N'9da803e3-c478-4dcd-81a7-404931c5329e', N'Application/NavigationItems/Items/Default/Items/MyDetails', 1, N'50757cad-6bcb-4981-bcd7-628bdbdeaaa7', 0, NULL)
GO
INSERT [dbo].[PermissionPolicyObjectPermissionsObject] ([Oid], [Criteria], [ReadState], [WriteState], [DeleteState], [NavigateState], [TypePermissionObject], [OptimisticLockField], [GCRecord]) VALUES (N'2a0b03d9-2fe0-4a13-bca4-dd3b4eb514f7', N'[Oid] = CurrentUserId()', 1, NULL, NULL, NULL, N'da36a9c9-c835-436e-9018-c9056bfb8418', 0, NULL)
GO
INSERT [dbo].[PermissionPolicyRole] ([Oid], [Name], [IsAdministrative], [CanEditModel], [PermissionPolicy], [OptimisticLockField], [GCRecord], [ObjectType]) VALUES (N'09d806e6-7779-476e-ae0c-03ba828caae3', N'Administrators', 1, 0, 0, 0, NULL, 1)
INSERT [dbo].[PermissionPolicyRole] ([Oid], [Name], [IsAdministrative], [CanEditModel], [PermissionPolicy], [OptimisticLockField], [GCRecord], [ObjectType]) VALUES (N'50757cad-6bcb-4981-bcd7-628bdbdeaaa7', N'Default', 0, 0, 1, 2, NULL, 1)
INSERT [dbo].[PermissionPolicyRole] ([Oid], [Name], [IsAdministrative], [CanEditModel], [PermissionPolicy], [OptimisticLockField], [GCRecord], [ObjectType]) VALUES (N'90f3416a-d6f4-489b-a870-6ce15199c447', N'Administrators', 1, 0, 0, 2, 144705836, 1)
GO
INSERT [dbo].[PermissionPolicyTypePermissionsObject] ([Oid], [Role], [TargetType], [ReadState], [WriteState], [CreateState], [DeleteState], [NavigateState], [OptimisticLockField], [GCRecord]) VALUES (N'0045817c-29f4-4701-96c3-4fff94627f4a', N'50757cad-6bcb-4981-bcd7-628bdbdeaaa7', N'DevExpress.Persistent.BaseImpl.PermissionPolicy.PermissionPolicyRole', 0, 0, 0, 0, NULL, 2, NULL)
INSERT [dbo].[PermissionPolicyTypePermissionsObject] ([Oid], [Role], [TargetType], [ReadState], [WriteState], [CreateState], [DeleteState], [NavigateState], [OptimisticLockField], [GCRecord]) VALUES (N'8cf2cd58-292d-44ec-a46c-6b042ce54c28', N'50757cad-6bcb-4981-bcd7-628bdbdeaaa7', N'DevExpress.Persistent.BaseImpl.ModelDifference', 0, 0, 0, 0, NULL, 2, NULL)
INSERT [dbo].[PermissionPolicyTypePermissionsObject] ([Oid], [Role], [TargetType], [ReadState], [WriteState], [CreateState], [DeleteState], [NavigateState], [OptimisticLockField], [GCRecord]) VALUES (N'e309a0d1-97bd-4933-9410-89466a58742d', N'50757cad-6bcb-4981-bcd7-628bdbdeaaa7', N'DevExpress.Persistent.BaseImpl.ModelDifferenceAspect', 0, 0, 0, 0, NULL, 2, NULL)
GO
INSERT [dbo].[PermissionPolicyUser] ([Oid], [StoredPassword], [ChangePasswordOnFirstLogon], [UserName], [IsActive], [OptimisticLockField], [GCRecord], [ObjectType]) VALUES (N'66e18ddc-7b3c-4c20-887e-44e8b32ffc82', N'', 1, N'DESKTOP-GI23UKH\Александр', 1, 6, NULL, 2)
INSERT [dbo].[PermissionPolicyUser] ([Oid], [StoredPassword], [ChangePasswordOnFirstLogon], [UserName], [IsActive], [OptimisticLockField], [GCRecord], [ObjectType]) VALUES (N'188d4e31-9707-4086-aebd-883cffb7855a', NULL, 1, N'test', 1, 3, 1004067684, 2)
GO
INSERT [dbo].[PermissionPolicyUserLoginInfo] ([Oid], [LoginProviderName], [ProviderUserKey], [User], [OptimisticLockField]) VALUES (N'61d26d97-6e94-4b92-a1f6-9362cbc1aad8', N'Windows', N'DESKTOP-GI23UKH\Александр', N'66e18ddc-7b3c-4c20-887e-44e8b32ffc82', 0)
GO
INSERT [dbo].[PermissionPolicyUserUsers_PermissionPolicyRoleRoles] ([Roles], [Users], [OID], [OptimisticLockField]) VALUES (N'09d806e6-7779-476e-ae0c-03ba828caae3', N'66e18ddc-7b3c-4c20-887e-44e8b32ffc82', N'49c0108a-294f-402f-a167-88a96b351262', 0)
GO
SET IDENTITY_INSERT [dbo].[Picket] ON 

INSERT [dbo].[Picket] ([ID], [IDplatform], [Number]) VALUES (22, 14, 101)
INSERT [dbo].[Picket] ([ID], [IDplatform], [Number]) VALUES (23, 14, 102)
INSERT [dbo].[Picket] ([ID], [IDplatform], [Number]) VALUES (24, 14, 103)
SET IDENTITY_INSERT [dbo].[Picket] OFF
GO
SET IDENTITY_INSERT [dbo].[Platform] ON 

INSERT [dbo].[Platform] ([ID], [IDsklad], [cargo], [Name]) VALUES (14, 3, 53000, N'Площадка 1')
INSERT [dbo].[Platform] ([ID], [IDsklad], [cargo], [Name]) VALUES (15, 3, 5000, N'Площадка 2')
INSERT [dbo].[Platform] ([ID], [IDsklad], [cargo], [Name]) VALUES (16, 4, 8000, N'Площадка 3')
SET IDENTITY_INSERT [dbo].[Platform] OFF
GO
SET IDENTITY_INSERT [dbo].[PlatformChangeHistory] ON 

INSERT [dbo].[PlatformChangeHistory] ([ID], [namePlatform], [nameSklad], [DateSince], [DateBy]) VALUES (31, N'Площадка 1', N'Склад 1', CAST(N'2022-02-26T12:43:52.360' AS DateTime), NULL)
INSERT [dbo].[PlatformChangeHistory] ([ID], [namePlatform], [nameSklad], [DateSince], [DateBy]) VALUES (32, N'Площадка 2', N'Склад 1', CAST(N'2022-02-27T10:29:53.767' AS DateTime), NULL)
INSERT [dbo].[PlatformChangeHistory] ([ID], [namePlatform], [nameSklad], [DateSince], [DateBy]) VALUES (33, N'Площадка 3', N'Склад 2', CAST(N'2022-02-27T10:50:24.157' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PlatformChangeHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Sklad] ON 

INSERT [dbo].[Sklad] ([ID], [Name]) VALUES (3, N'Склад 1')
INSERT [dbo].[Sklad] ([ID], [Name]) VALUES (4, N'Склад 2')
SET IDENTITY_INSERT [dbo].[Sklad] OFF
GO
SET IDENTITY_INSERT [dbo].[XPObjectType] ON 

INSERT [dbo].[XPObjectType] ([OID], [TypeName], [AssemblyName]) VALUES (1, N'DevExpress.Persistent.BaseImpl.PermissionPolicy.PermissionPolicyRole', N'DevExpress.Persistent.BaseImpl.Xpo.v21.2')
INSERT [dbo].[XPObjectType] ([OID], [TypeName], [AssemblyName]) VALUES (2, N'Sklad.Module.BusinessObjects.ApplicationUser', N'Sklad.Module')
INSERT [dbo].[XPObjectType] ([OID], [TypeName], [AssemblyName]) VALUES (3, N'DevExpress.Persistent.BaseImpl.PermissionPolicy.PermissionPolicyTypePermissionObject', N'DevExpress.Persistent.BaseImpl.Xpo.v21.2')
SET IDENTITY_INSERT [dbo].[XPObjectType] OFF
GO
INSERT [dbo].[XPWeakReference] ([Oid], [TargetType], [TargetKey], [OptimisticLockField], [GCRecord], [ObjectType]) VALUES (N'e396c051-bee4-48e5-8d5b-009d06070fc5', 10, N'[Guid]''71d8ba43-1a1a-45d9-8612-2dc06c232f08''', 0, NULL, 13)
INSERT [dbo].[XPWeakReference] ([Oid], [TargetType], [TargetKey], [OptimisticLockField], [GCRecord], [ObjectType]) VALUES (N'7f77b304-ce29-4327-9ea2-012a08935005', 10, N'[Guid]''71d8ba43-1a1a-45d9-8612-2dc06c232f08''', 0, NULL, 13)
INSERT [dbo].[XPWeakReference] ([Oid], [TargetType], [TargetKey], [OptimisticLockField], [GCRecord], [ObjectType]) VALUES (N'8b9f7c24-96c8-4340-ae5a-022363dc649e', 10, N'[Guid]''71d8ba43-1a1a-45d9-8612-2dc06c232f08''', 0, NULL, 13)
GO
ALTER TABLE [dbo].[AuditDataItemPersistent]  WITH NOCHECK ADD  CONSTRAINT [FK_AuditDataItemPersistent_AuditedObject] FOREIGN KEY([AuditedObject])
REFERENCES [dbo].[AuditedObjectWeakReference] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[AuditDataItemPersistent] CHECK CONSTRAINT [FK_AuditDataItemPersistent_AuditedObject]
GO
ALTER TABLE [dbo].[AuditDataItemPersistent]  WITH NOCHECK ADD  CONSTRAINT [FK_AuditDataItemPersistent_NewObject] FOREIGN KEY([NewObject])
REFERENCES [dbo].[XPWeakReference] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[AuditDataItemPersistent] CHECK CONSTRAINT [FK_AuditDataItemPersistent_NewObject]
GO
ALTER TABLE [dbo].[AuditDataItemPersistent]  WITH NOCHECK ADD  CONSTRAINT [FK_AuditDataItemPersistent_OldObject] FOREIGN KEY([OldObject])
REFERENCES [dbo].[XPWeakReference] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[AuditDataItemPersistent] CHECK CONSTRAINT [FK_AuditDataItemPersistent_OldObject]
GO
ALTER TABLE [dbo].[AuditedObjectWeakReference]  WITH NOCHECK ADD  CONSTRAINT [FK_AuditedObjectWeakReference_Oid] FOREIGN KEY([Oid])
REFERENCES [dbo].[XPWeakReference] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[AuditedObjectWeakReference] CHECK CONSTRAINT [FK_AuditedObjectWeakReference_Oid]
GO
ALTER TABLE [dbo].[ModelDifferenceAspect]  WITH NOCHECK ADD  CONSTRAINT [FK_ModelDifferenceAspect_Owner] FOREIGN KEY([Owner])
REFERENCES [dbo].[ModelDifference] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[ModelDifferenceAspect] CHECK CONSTRAINT [FK_ModelDifferenceAspect_Owner]
GO
ALTER TABLE [dbo].[PermissionPolicyActionPermissionObject]  WITH NOCHECK ADD  CONSTRAINT [FK_PermissionPolicyActionPermissionObject_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[PermissionPolicyRole] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PermissionPolicyActionPermissionObject] CHECK CONSTRAINT [FK_PermissionPolicyActionPermissionObject_Role]
GO
ALTER TABLE [dbo].[PermissionPolicyMemberPermissionsObject]  WITH NOCHECK ADD  CONSTRAINT [FK_PermissionPolicyMemberPermissionsObject_TypePermissionObject] FOREIGN KEY([TypePermissionObject])
REFERENCES [dbo].[PermissionPolicyTypePermissionsObject] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PermissionPolicyMemberPermissionsObject] CHECK CONSTRAINT [FK_PermissionPolicyMemberPermissionsObject_TypePermissionObject]
GO
ALTER TABLE [dbo].[PermissionPolicyNavigationPermissionsObject]  WITH NOCHECK ADD  CONSTRAINT [FK_PermissionPolicyNavigationPermissionsObject_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[PermissionPolicyRole] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PermissionPolicyNavigationPermissionsObject] CHECK CONSTRAINT [FK_PermissionPolicyNavigationPermissionsObject_Role]
GO
ALTER TABLE [dbo].[PermissionPolicyObjectPermissionsObject]  WITH NOCHECK ADD  CONSTRAINT [FK_PermissionPolicyObjectPermissionsObject_TypePermissionObject] FOREIGN KEY([TypePermissionObject])
REFERENCES [dbo].[PermissionPolicyTypePermissionsObject] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PermissionPolicyObjectPermissionsObject] CHECK CONSTRAINT [FK_PermissionPolicyObjectPermissionsObject_TypePermissionObject]
GO
ALTER TABLE [dbo].[PermissionPolicyRole]  WITH NOCHECK ADD  CONSTRAINT [FK_PermissionPolicyRole_ObjectType] FOREIGN KEY([ObjectType])
REFERENCES [dbo].[XPObjectType] ([OID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PermissionPolicyRole] CHECK CONSTRAINT [FK_PermissionPolicyRole_ObjectType]
GO
ALTER TABLE [dbo].[PermissionPolicyTypePermissionsObject]  WITH NOCHECK ADD  CONSTRAINT [FK_PermissionPolicyTypePermissionsObject_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[PermissionPolicyRole] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PermissionPolicyTypePermissionsObject] CHECK CONSTRAINT [FK_PermissionPolicyTypePermissionsObject_Role]
GO
ALTER TABLE [dbo].[PermissionPolicyUser]  WITH NOCHECK ADD  CONSTRAINT [FK_PermissionPolicyUser_ObjectType] FOREIGN KEY([ObjectType])
REFERENCES [dbo].[XPObjectType] ([OID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PermissionPolicyUser] CHECK CONSTRAINT [FK_PermissionPolicyUser_ObjectType]
GO
ALTER TABLE [dbo].[PermissionPolicyUserLoginInfo]  WITH NOCHECK ADD  CONSTRAINT [FK_PermissionPolicyUserLoginInfo_User] FOREIGN KEY([User])
REFERENCES [dbo].[PermissionPolicyUser] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PermissionPolicyUserLoginInfo] CHECK CONSTRAINT [FK_PermissionPolicyUserLoginInfo_User]
GO
ALTER TABLE [dbo].[PermissionPolicyUserUsers_PermissionPolicyRoleRoles]  WITH NOCHECK ADD  CONSTRAINT [FK_PermissionPolicyUserUsers_PermissionPolicyRoleRoles_Roles] FOREIGN KEY([Roles])
REFERENCES [dbo].[PermissionPolicyRole] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PermissionPolicyUserUsers_PermissionPolicyRoleRoles] CHECK CONSTRAINT [FK_PermissionPolicyUserUsers_PermissionPolicyRoleRoles_Roles]
GO
ALTER TABLE [dbo].[PermissionPolicyUserUsers_PermissionPolicyRoleRoles]  WITH NOCHECK ADD  CONSTRAINT [FK_PermissionPolicyUserUsers_PermissionPolicyRoleRoles_Users] FOREIGN KEY([Users])
REFERENCES [dbo].[PermissionPolicyUser] ([Oid])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PermissionPolicyUserUsers_PermissionPolicyRoleRoles] CHECK CONSTRAINT [FK_PermissionPolicyUserUsers_PermissionPolicyRoleRoles_Users]
GO
ALTER TABLE [dbo].[Picket]  WITH NOCHECK ADD  CONSTRAINT [FK_Picket_IDplatform] FOREIGN KEY([IDplatform])
REFERENCES [dbo].[Platform] ([ID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Picket] CHECK CONSTRAINT [FK_Picket_IDplatform]
GO
ALTER TABLE [dbo].[Platform]  WITH NOCHECK ADD  CONSTRAINT [FK_Platform_IDsklad] FOREIGN KEY([IDsklad])
REFERENCES [dbo].[Sklad] ([ID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Platform] CHECK CONSTRAINT [FK_Platform_IDsklad]
GO
ALTER TABLE [dbo].[XPWeakReference]  WITH NOCHECK ADD  CONSTRAINT [FK_XPWeakReference_ObjectType] FOREIGN KEY([ObjectType])
REFERENCES [dbo].[XPObjectType] ([OID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[XPWeakReference] CHECK CONSTRAINT [FK_XPWeakReference_ObjectType]
GO
ALTER TABLE [dbo].[XPWeakReference]  WITH NOCHECK ADD  CONSTRAINT [FK_XPWeakReference_TargetType] FOREIGN KEY([TargetType])
REFERENCES [dbo].[XPObjectType] ([OID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[XPWeakReference] CHECK CONSTRAINT [FK_XPWeakReference_TargetType]
GO
